# This is an example environment file for the demo app.
# Copy this file to .env and update the values as needed.
NEXT_PUBLIC_BASE_URL=http://localhost:3100

# Update the NUNTLY_API_KEY with your actual API key from Nuntly.
NUNTLY_API_KEY=ntly_xxxxxxxxxxxx
# Update the EMAIL_FROM with the email address you want to use as the sender for emails sent by the demo app.
EMAIL_FROM=noreply@demo.example.com

# Update BETTER_AUTH_SECRET with a secure random string.
# You can generate one using the following command:
# openssl rand -base64 32
BETTER_AUTH_SECRET=change-me

BETTER_AUTH_URL=http://localhost:3100

# Set ENABLE_MAGIC_LINK to true to enable magic link authentication.
ENABLE_MAGIC_LINK=false
# Set ENABLE_EMAIL_OTP to true to enable email OTP authentication.
ENABLE_EMAIL_OTP=false

# Public environment variables (exposed to browser)
NEXT_PUBLIC_ENABLE_MAGIC_LINK=false
NEXT_PUBLIC_ENABLE_EMAIL_OTP=false
